[package]
name = "console-backend"
version = "0.1.0"
authors = ["Jens Reimann <jreimann@redhat.com>"]
edition = "2018"

[dependencies]

console-common = { path = "../console-common" }

actix = "0.10"
actix-cors = "0.4"
actix-web = "3"

actix-web-httpauth = "0.5"
openid = "0.6"
url = "2"
reqwest = "0.10"
ring = "=0.16.15" # required due to an issue in the public API

log = "0.4"
env_logger = "0.7"
envconfig = "0.9"

chrono = { version = "0.4", features = ["serde"] }
chrono-tz = "0.5"

anyhow = "1"
snafu = "0.6"
failure = "0.1" # required for converting error away from failure

serde = "1"
serde_json = "1"

futures = "0.3"

kube = "0.43"
kube-derive = "0.43"
k8s-openapi = { version = "0.9", features = ["v1_17"]}
openshift-openapi = { version = "0.1", features = ["v4_4"] }

async-trait = "0.1"

cloudevents-sdk = "0.3"
cloudevents-sdk-rdkafka = "0.3"

uuid = { version = "0.8", features = ["v4"]}

owning_ref = "0.4"

[dependencies.rdkafka]
version = "0.24"
features = ["ssl", "sasl"]