$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

.idp-icon {
  font-size: 24px;
  color: gray;
}

.idp-icon:hover {
  color: black;
}

main {
  z-index: unset !important;
}