.git
.idea

target/debug
target/release/.fingerprint
target/release/build
target/release/deps
target/wasm32-unknown-unknown

console-frontend/node_modules
console-frontend/pkg
console-frontend/dist

**/Dockerfile

deploy/
