.git
.idea

target/debug
target/release/.fingerprint
target/release/build
target/release/deps
target/wasm32-unknown-unknown

console-frontend/node_modules
console-frontend/pkg

**/Dockerfile

deploy/

tls.*
tls_tmp.*

.cargo-container-home
