[package]
name = "drogue-cloud-service-api"
version = "0.9.0"
authors = ["Jens Reimann <jreimann@redhat.com>"]
edition = "2021"

[dependencies]

log = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
async-trait = "0.1"
indexmap = { version = "1", features = ["serde"] }

base64 = "0.13"
base64-serde = "0.6"
chrono = { version = "0.4", features = ["serde"] }

lazy_static = "1"
regex = "1"
url = "2"
md5 = "0.7"

drogue-client = { version = "0.9.0-alpha.1", default-features = false }
drogue-cloud-macros = { path = "../macros" }

actix-web = { version = "=4.0.0-beta.19", optional = true } # we need v4 as we need tokio 1
actix-http = { version = "=3.0.0-beta.18", optional = true } # FIXME: temporary intermediate
actix-web-httpauth = { version = "=0.6.0-beta.7", optional = true }
actix-web-prom = { version = "0.6.0-beta.4", optional = true }
actix-rt = { version = "2", optional = true }
actix-utils = { version = "3", optional = true }
actix-web-opentelemetry = { version = "0.11.0-beta.8", optional = true }

nom = { version = "6", optional = true }

rdkafka = { version = "*", optional = true }

[dev-dependencies]
config = "0.11"

[features]
default = ["nom", "actix"]
actix = ["actix-web", "actix-web-httpauth", "actix-rt", "actix-utils", "actix-web-prom", "actix-web-opentelemetry"]
rustls = ["actix-web/rustls"]
openssl = ["actix-web/openssl"]
