[package]
name = "drogue-cloud-service-api"
version = "0.10.0"
authors = ["Jens Reimann <jreimann@redhat.com>"]
edition = "2021"

[dependencies]
async-trait = "0.1"
base64 = "0.13"
base64-serde = "0.6"
chrono = { version = "0.4", features = ["serde"] }
drogue-client = { version = "0.10.0", default-features = false }
indexmap = { version = "1", features = ["serde"] }
lazy_static = "1"
log = "0.4"
md5 = "0.7"
regex = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
url = "2"

actix-http = { version = "3", optional = true }
actix-rt = { version = "2", optional = true }
actix-utils = { version = "3", optional = true }
actix-web = { version = "4", optional = true }
actix-web-extras = { version = "0.1", optional = true }
actix-web-httpauth = { version = "0.6", optional = true }
actix-web-opentelemetry = { version = "0.12", optional = true }
actix-web-prom = { version = "0.6", optional = true }
nom = { version = "6", optional = true }
rdkafka = { version = "*", optional = true }

drogue-cloud-macros = { path = "../macros" }

[dev-dependencies]
config = "0.13"
drogue-client = { version = "0.10.0", features = [ "reqwest" ] }

[features]
default = ["nom", "actix"]
actix = ["actix-web", "actix-http", "actix-web-httpauth", "actix-rt", "actix-utils", "actix-web-prom", "actix-web-opentelemetry", "actix-web-extras"]
rustls = ["actix-web/rustls"]
openssl = ["actix-web/openssl"]
