[package]
name = "drogue-cloud-console-common"
version = "0.9.0"
authors = ["Jens Reimann <jreimann@redhat.com>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]

anyhow = "1"

serde = { version = "1", features = ["derive"] }
drogue-cloud-service-api = { path = "../service-api" }