[package]
name = "drogue-cloud-console-frontend"
version = "0.7.0"
authors = ["Jens Reimann <jreimann@redhat.com>"]
edition = "2018"
description = "Console Frontend"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1"

drogue-cloud-console-common = { path = "../console-common" }
drogue-cloud-service-api = { path = "../service-api" }
drogue-client = { version = "0.7.1", default-features = false }

yew = "0.17"
yew-router = "0.14"
patternfly-yew = "0.0.26"
monaco = { version = "0.2", features = ["yew-components"] }

# For wasm-bindgen we need the exact version, as it will be required by the wasm-pack tool.
# Updating this dependency requires:
#  * Update the dependency version here
#  * Create a new builder image, with the same version of wasm-bindgen pre-installed
wasm-bindgen = "=0.2.78"

js-sys = "0.3.50"
web-sys = { version = "0.3", features = ["EventSource", "EventSourceInit", "Window", "Location"] }

once_cell = "1"

chrono = { version = "0.4", features = ["wasmbind"] }
chrono-tz = "0.5"

md5 = "0.7"

url = "2"
http = "0.2"
java-properties = "1"
bstr = "0.2"

cloudevents-sdk = "0.4"

log = "0.4"
wasm-logger = "0.2"

headers = "0.3"

serde = "1"
serde_json = "1"
serde_yaml = "0.8"

unicode-segmentation = "1"
pretty-hex = "0.2"
base64 = "0.13"
itertools = "0.9"
percent-encoding = "2.1"

[dev-dependencies]
env_logger = "0.7"
