[package]
name = "drogue-cloud-server"
version = "0.8.0"
authors = ["Ulf Lilleengen <lulf@redhat.com>"]
edition = "2021"

[dependencies]

clap = { version = "2.33.3" }
drogue-cloud-console-backend = { path = "../console-backend" }
drogue-cloud-mqtt-endpoint = { path = "../mqtt-endpoint" }
drogue-cloud-http-endpoint = { path = "../http-endpoint" }
drogue-cloud-service-common = { path = "../service-common" }
drogue-cloud-service-api = { path = "../service-api" }
drogue-cloud-api-key-service = { path = "../api-key-service" }
drogue-cloud-registry-events = { path = "../registry-events" }
drogue-cloud-event-common = { path = "../event-common" }
drogue-cloud-endpoint-common = { path = "../endpoint-common" }
drogue-cloud-device-management-service = { path = "../device-management-service" }
drogue-cloud-authentication-service = { path = "../authentication-service" }
drogue-cloud-user-auth-service = { path = "../user-auth-service" }
url = "2"
stderrlog = "0.4"
log = "0.4"
tokio = { version = "1.11.0", features = ["full"] }
ntex = "0.4"
dotenv = "0.15"
ntex-rt = "0.3"
actix-rt = { version = "2.2.0" }
deadpool = "0.7"
deadpool-postgres = { version = "0.7", features = ["config"] }
diesel = { version = "1.4.0", features = ["postgres"] }
diesel_migrations = { version = "1.4.0", features = ["postgres"] }
keycloak = { version = "14" }
reqwest = { version = "0.11.6" }
