[package]
name = "drogue-cloud-server"
version = "0.11.0"
authors = ["Ulf Lilleengen <lulf@redhat.com>"]
edition = "2021"

[dependencies]
actix-files = "0.6"
actix-rt = "2.2.0"
anyhow = "1"
clap = { version = "4", features = ["cargo", "env"] }
deadpool = "0.9"
deadpool-postgres = { version = "0.10", features = ["serde", "rt_tokio_1"] }
diesel = { version = "2", features = ["postgres"] }
diesel_migrations = { version = "2", features = ["postgres"] }
dotenv = "0.15"
futures = "0.3"
keycloak = "19"
log = "0.4"
ntex = "0.5"
ntex-rt = "0.4"
pq-sys = "0.4.6"
rdkafka-sys = "4.0"
reqwest = "0.11.6"
sasl2-sys = "0.1.14"
serde_json = "1.0"
stderrlog = "0.5.3"
tokio = { version = "1.11.0", features = ["full"] }
url = "2"

drogue-cloud-access-token-service = { path = "../access-token-service" }
drogue-cloud-authentication-service = { path = "../authentication-service" }
drogue-cloud-coap-endpoint = { path = "../coap-endpoint" }
drogue-cloud-command-endpoint = { path = "../command-endpoint" }
drogue-cloud-command-routing-service = { path = "../command-routing-service" }
drogue-cloud-console-backend = { path = "../console-backend" }
drogue-cloud-database-common = { path = "../database-common" }
drogue-cloud-device-management-service = { path = "../device-management-service" }
drogue-cloud-device-state-service = { path = "../device-state-service" }
drogue-cloud-endpoint-common = { path = "../endpoint-common" }
drogue-cloud-event-common = { path = "../event-common" }
drogue-cloud-http-endpoint = { path = "../http-endpoint" }
drogue-cloud-mqtt-common = { path = "../mqtt-common" }
drogue-cloud-mqtt-endpoint = { path = "../mqtt-endpoint" }
drogue-cloud-mqtt-integration = { path = "../mqtt-integration" }
drogue-cloud-registry-events = { path = "../registry-events" }
drogue-cloud-service-api = { path = "../service-api" }
drogue-cloud-service-common = { path = "../service-common" }
drogue-cloud-user-auth-service = { path = "../user-auth-service" }
drogue-cloud-websocket-integration = { path = "../websocket-integration" }

[features]
static = ["rdkafka-sys/ssl-vendored", "sasl2-sys/vendored", "sasl2-sys/openssl-sys", "pq-sys/pkg-config"]
