[package]
name = "drogue-cloud-service-common"
version = "0.7.0"
authors = ["Jean-Baptiste Trystram <jbtrystram@redhat.com>"]
edition = "2018"

[dependencies]

log = "0.4"
config = "0.10"
anyhow = "1"

actix-web = "=4.0.0-beta.8" # we need v4 as we need tokio 1
actix-web-httpauth = "=0.6.0-beta.2"
actix-service = "2"
actix-rt = "2"
ntex = "0.3"
http = "0.2"

lazy_static = "1"
regex = "1"
md5 = "0.7"

tokio = "1"

reqwest = "0.11"
openid = "0.9.2"

rust_tls = { version = "0.19", package = "rustls", optional = true, features = ["dangerous_configuration"] }
webpki = { version = "0.21", optional = true }

failure = "0.1" # required for converting error away from failure
url = "2"
pem = "0.8"
chrono = "0.4"
humantime = "2"
humantime-serde = "1"

serde = "1"
serde_json = "1"
thiserror = "1"

async-std = "1.9"
async-trait = "0.1"
futures = "0.3"

kube = { version = "0.58" }
k8s-openapi = { version = "0.12.0", features = ["v1_19"] }

cloudevents-sdk = { version = "0.4", features = ["reqwest"] }

drogue-cloud-service-api = { path = "../service-api" }
drogue-cloud-event-common = { path = "../event-common" }
drogue-client = "0.7.0"

[dev-dependencies]
env_logger = "0.8"
tokio = { version = "1", features = ["full"] }

[features]
default = ["rustls"]
rustls = ["rust_tls", "webpki", "reqwest/rustls-tls"]