[package]
name = "drogue-cloud-service-common"
version = "0.11.0"
authors = ["Jean-Baptiste Trystram <jbtrystram@redhat.com>"]
edition = "2021"

[dependencies]
actix-cors = "0.6"
actix-service = "2"
actix-web-extras = "0.1"
anyhow = "1"
async-trait = "0.1"
chrono = "0.4"
cloudevents-sdk = { version = "0.6", features = ["reqwest"] }
config = "0.13"
drogue-client = "0.11"
drogue-bazaar = { version = "0.3", features = ["native-tls"] }
futures = "0.3"
http = "0.2"
humantime = "2"
humantime-serde = "1"
k8s-openapi = { version = "0.16", features = ["v1_19"] }
keycloak = { version = "19" }
kube = { version = "0.75" }
lazy_static = "1"
log = "0.4"
ntex = { version = "0.5", features = ["tokio"] }
openid = "0.10"
opentelemetry = { version = "0.18", features = ["rt-tokio"] }
pem = "1"
prometheus = { version = "^0.13", default-features = false }
reqwest = { version = "0.11", features = ["blocking"] }
serde = "1"
serde_json = "1"
thiserror = "1"
tokio = "1"
tracing = "0.1"
tracing-opentelemetry = "0.18"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = "2"
uuid = { version = "1", features = ["v4"] }

native-tls = { version = "0.2", optional = true }
opentelemetry-jaeger = { version = "0.17", features = ["rt-tokio"], optional = true }
rustls = { version = "0.20", optional = true, features = ["dangerous_configuration"] }
webpki = { version = "0.22", optional = true }
openssl = { version = "0.10", optional = true }

drogue-cloud-event-common = { path = "../event-common" }
drogue-cloud-service-api = { path = "../service-api" }

[dev-dependencies]
actix-rt = "2.7"
tokio = { version = "1", features = ["full"] }
env_logger = "0.9"

[features]
default = ["rustls", "native-tls", "actix", "openssl"]
rustls = ["dep:rustls", "webpki", "reqwest/rustls-tls", "drogue-bazaar/rustls"]
openssl = ["dep:openssl", "drogue-cloud-service-api/openssl", "drogue-bazaar/openssl"]
actix = ["drogue-cloud-service-api/actix-http", "drogue-bazaar/actix"]
native-tls = ["dep:native-tls", "drogue-bazaar/native-tls"]
