global:
  drogueCloud:
    useServiceCA: true

drogueCloudCore:
  endpoints:
    coap:
      ingress:
        port: 443
    mqtt:
      ingress:
        port: 443
    mqttWs:
      ingress:
        port: 443
    mqttWsBrowser:
      ingress:
        port: 443
    http:
      ingress:
        port: 443

  integrations:
    mqtt:
      ingress:
        port: 443
    mqttWsBrowser:
      ingress:
        port: 443
    mqttWs:
      ingress:
        port: 443
