kind: Service
apiVersion: v1
metadata:
  name: outbox-controller
  labels:
    app.kubernetes.io/name: outbox-controller
    app.kubernetes.io/part-of: device-registry
spec:
 selector:
   app.kubernetes.io/name: outbox-controller
   app.kubernetes.io/part-of: device-registry
 ports:
   - name: api
     port: 80
     protocol: TCP
     targetPort: api
