[package]
name = "drogue-cloud-command-endpoint"
version = "0.4.0"
authors = ["Dejan Bosanac <dbosanac@redhat.com>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]

anyhow = "1"
thiserror = "1"

actix-http = "=3.0.0-beta.4" # FIXME: temporary intermediate
actix-web = "=4.0.0-beta.4" # we need v4 as we need tokio 1
actix-web-httpauth = "=0.6.0-beta.1"

async-trait = "0.1"
futures = "0.3"
futures-core = "0.3"
futures-util = "0.3"

dotenv = "0.15.0"
config = "0.10"

reqwest = "0.11"
url = "2"

serde = { version = "1", features = ["derive"] }
serde_json = "1"

uuid = { version = "0.8", features = ["v4"] }

env_logger = "0.7"
log = "0.4"

cloudevents-sdk = "0.4"
cloudevents-sdk-actix-web = "0.4"
cloudevents-sdk-reqwest = "0.4"

drogue-cloud-endpoint-common = { path = "../endpoint-common" }
drogue-cloud-service-common = { path = "../service-common" }
drogue-cloud-service-api = { path = "../service-api" }

drogue-client = "0.5.0-alpha.3"

jsonwebtokens = "1.0.0-alpha.13"
base64 = "0.13"